<section class="content" role="main">
  <div class="divBusca">
    <input class="txtBusca" [ngModel]="searchQuery"
      (ngModelChange)="searchQuery = $event ; searchMovie($event)" placeholder="Pesquise por um filme">
    <mat-icon class="btnBusca" matSuffix>youtube_searched_for</mat-icon>
  </div>

  <div class="container">
    <mat-card *ngFor="let movie of Movies.results" style="padding: 0; height: 280px" routerLink="/movie-details/{{movie.id}}">
      <mat-grid-list cols="5" rowHeight="280px" class="fade-in">
        <mat-grid-tile colspan="2">
          <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="movie-poster" alt="{{movie.title}}" />
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <mat-card-content style="top:0; position: absolute; padding: 10px">
            <mat-card-header>
              <div mat-card-avatar class="outer_ring">
                <div class="circle-content" style="width: 40px;height:65px;">
                  <small>{{ movie.vote_average * 10 }}<sup>%</sup></small>
                </div>
              </div>
              <mat-card-title>
                <a mat-button routerLink="/movie-details/{{movie.id}}" class="movie-title">{{movie.title}}</a>
              </mat-card-title>
            </mat-card-header>
            <div class="description">
              {{movie.overview}}
            </div>
          </mat-card-content>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </div>
</section>
