<section role="main">
  <div class="details-bg" *ngIf="MovieDetails.poster_path"
    [style.backgroundImage]="'url(https://image.tmdb.org/t/p/w500'+MovieDetails.backdrop_path+')'">
    <div class="custom_bg">
      <div class="details-container">
        <div style="padding: 0;background: transparent;">
          <mat-grid-list cols="6" rowHeight="600px" gutterSize="0">
            <mat-grid-tile colspan="2" gutterSize="0">
              <img src="https://image.tmdb.org/t/p/w500{{MovieDetails.poster_path}}" class="details-poster"
                alt="{{MovieDetails.title}}" />
            </mat-grid-tile>
            <mat-grid-tile colspan="4">
              <mat-card-content class="details-info">
                <mat-card-title>
                  <h2 class="movie-title">{{MovieDetails.original_title}}
                    <span class="release-date">({{MovieDetails.release_date|dateFormat:'YYYY'}})</span>
                  </h2>
                  <mat-card-subtitle>
                    <span class="profile">{{MovieDetails.release_date|date:'MM/dd/yyyy' }}</span>
                    <span class="genres" *ngFor="let genre of MovieDetails.genres">{{genre.name }}</span>
                    <span class="time">{{MovieDetails.runtime | dateFormat :'runtime' }}</span>
                  </mat-card-subtitle>
                </mat-card-title>
                <mat-card-title>
                  <ul class="movie-actions">
                    <li>
                      <a class="icon-outline">
                        <mat-icon aria-hidden="false" aria-label="Wish list">list</mat-icon>
                      </a>
                    </li>

                    <li>
                      <a class="icon-outline">
                        <mat-icon aria-hidden="false" aria-label="Make Favorite">favorite</mat-icon>
                      </a>
                    </li>

                    <li>
                      <a class="icon-outline">
                        <mat-icon aria-hidden="false" aria-label="Bookmark">bookmark</mat-icon>
                      </a>
                    </li>

                    <li>
                      <a class="icon-outline">
                        <mat-icon aria-hidden="false" aria-label="Star">star</mat-icon>
                      </a>
                    </li>
                    <li>
                      <a class="play-video" (click)="openDialog()">
                        <mat-icon aria-hidden="false" aria-label="Star">play_arrow</mat-icon>
                        Play Trailer
                      </a>
                    </li>
                  </ul>
                </mat-card-title>
                <h3>Sinopse</h3>
                <div class="overview">
                  <p>
                    {{MovieDetails.overview}}
                  </p>
                </div>
                <ol class="people">
                  <li class="profile">
                    <p class="character">Todd Phillips</p>
                    <p>Director, Writer</p>
                  </li>
                  <li class="profile">
                    <p class="character">Scott Silver</p>
                    <p>Writer</p>
                  </li>
                  <li class="profile">
                    <p class="character">English</p>
                    <p>Original Language</p>
                  </li>
                </ol>
              </mat-card-content>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </div>
  </div>
</section>
